.start_logo {
width:50%;
position: relative;
transform:translate(35%, 10px);
margin: 0 auto;
}

.start_logo img {
width: 32vh;
height: 12vh;
background-repeat:no-repeat;
background-size: cover;
animation: start_logo_fadeIn 1s ease-in;
}

@keyframes start_logo_fadeIn {
from { opacity: 0; transform:translateY(10px); }
to { opacity: 1; transform:translateY(0px); }
}

.sliding-background {
background: url("resources/images/backgrounds/background-gray.png") repeat;
}

#forums {
	position: relative;
	border-radius: 25px;
	width: 800px;
	height: 1000px;
	transform:translate(525px, 80px);
	border-radius: 30px;
}

#forums_bg {
	position: fixed;
	width: 1000px;
	height: 1100px;
	z-index: -1;
	transform: translate(-100px, -1030px);
	background-color:black;
	filter: blur(30px);
	opacity: 0.8;
}