.start_logo {
	width:50%;
	position: relative;
	transform:translate(35%, 10px);
	margin: 0 auto;
}

.start_logo img {
	width: 32vh;
	height: 12vh;
	background-repeat:no-repeat;
	background-size: cover;
	animation: start_logo_fadeIn 1s ease-in;
}

@keyframes start_logo_fadeIn {
	from { opacity: 0; transform:translateY(10px); }
	to { opacity: 1; transform:translateY(0px); }
}

#nr-title {
	position:relative; 
	text-align:center; 
	text-shadow:0px 0px 3px black, 0px 2px 0px black; 
	font-family:'Pixeloid Mono', sans-serif;
}

#nr-desc {
	position:relative; 
	font-size:0.9vw; 
	text-align:center; 
	text-shadow:0px 0px 2px black, 0px 2px 0px black;
}

.newest_release {
	width: 400px;
	height: 300px;
	border-radius: 80px;
	border: 10px solid black;
}

.newest_release img {
	width: 100%;
	height: 100%;
	border-radius: 60px;
	border: 5px solid white;
	object-fit:cover;
}

#newest_release_title {
	transform: translate(400px, -250px);
	width: 700px;
}

.newest_release_background {
	transform: translate(250px, -255px);
	position:fixed;
	background-color:black;
	width:900px;
	height:200px;
	opacity: 0.45;
	filter:blur(40px);
}

.playButton {
	background-color:black;
	border-radius: 3px;
	position: relative;
	opacity: 0.9;
	box-shadow: 0px 0px 4px black;
	font-size: 100%;
	text-align: center;
	color:lime;
	transition: 0.1s ease-in;
}

.playButton:hover {
	opacity: 1;
	font-size: 1.3em;
	color: white;
}

.changelogsButton {
	background-color:black;
	border-radius: 3px;
	position: relative;
	opacity: 0.9;
	box-shadow: 0px 0px 4px black;
	font-size: 100%;
	text-align: center;
	color:gold;
	transition: 0.1s ease-in;
}

.changelogsButton:hover {
	opacity: 1;
	font-size: 1.3em;
	color: white;
}

.release {
	border-radius: 50px;
	border: 7px solid black;
	background-color:black;
	width: 40vh;
	height: 25vh;
}

.release img {
	border-radius: 60px;
	border: 6px solid white;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#releases_button {
	transform: translate(5px, -10px);
}

#releases_button:hover {
	transform: translate(5px, -10px);
}

#release_image {
	transform: scale(1);
	transition: 0.1s ease-in;
}

#release_image:hover {
	border: 6px solid lime;
	transform: scale(1.05);
}

#newest_release {
	transform: scale(1);
	transition: 0.1s ease-in;
}

#newest_release:hover {
	border: 6px solid lime;
	transform: scale(1.05);
}

.__GAMES_comingsoon {
	transform: translate(50%, 25px);
	width: 50%;
}

#cm-list {
	transform: translateY(-35px);
	font-size:150%; 
	color: white; 
	text-align: center;
}
