#arc-btns {
  margin-left: 55px;
  margin-top: -40px;
  position: absolute;
}
#arc-btns #arc-button {
  transition: 0.15s ease;
  transform: translate(-15px, 20px);
}
#arc-btns #arc-button:hover {
  cursor: pointer;
  filter: brightness(110%);
  transform: translate(-15px, 18px) scale(1.08);
}
#arc-btns #arc-button:active {
  cursor: default;
  filter: brightness(80%);
  transform: translate(-15px, 20px) scale(1.02);
}
#arc-btns #arc-analog {
  transition: 0.15s ease;
}
#arc-btns #arc-analog:hover {
  cursor: pointer;
  transform: translateY(-5px) scale(1.08);
}
#arc-btns #arc-analog:active {
  cursor: default;
  transform: scale(1);
}

.analog-active {
  transition: 0s linear;
}

/* SOCIAL MEDIAS */
.SM-BTN {
    transition: 0.25s ease;
    cursor: pointer;
    filter: drop-shadow(0 2px 0 black);
}

.SM-BTN:hover {
    filter: drop-shadow(0 3px 0 rgb(96, 96, 96));
    font-size: 26px;
}

.__web_background {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-position-x: center;
    background-image: url("https://images.clooverlandstudios.com/bgs/main.png");
    background-size: 40%;
    z-index: -1;
    position: fixed;
}

/* HEADER BUTTONS */
#hd-btn {
    border: 0;
    background-color: #15281a;
    transform: scale(1.5);
    filter: drop-shadow(0 2px 0 #305d3d);
    transition: 0.25s ease;
    margin-right: 40px;
}

.trans-inactive {
  filter: invert(100);
}

.trans-active {
  filter: invert(100%) brightness(80%) sepia(100) saturate(100) hue-rotate(0deg);
}

#hd-btn:hover {
    filter: drop-shadow(0 4px 0 #305d3d);
    color: gray;
    transform: scale(1.4);

    & img {
      cursor: pointer;
    }
}

#hd-btn:active {
    color: gold;
    transform: scale(1.43);

    & img {
      cursor: pointer;
    }
}

@media (max-width:720px) {
  #hd-btn {
    transform: scale(1.1);
    margin-left: -25px;
    margin-right: 8px;
  }
}