/* Arcade Styling */

#__arcade {
	max-width: fit-content;
	transform: translateX(250px);
	position: absolute;
	height: 500px;
}

#__arcade_machine {
	position: absolute;
	transform: translate(25px, 0);
	width: 250px;
	z-index: 1;
}

#__arcade_button {
	position: absolute;
	width: 40px;
	transform: translate(140px, 235px);
	transition: 0.25s ease;
	z-index: 2;
}

#__arcade_button:active {
	cursor: pointer;
	filter: brightness(80%);	
}

#__arcade_button:hover {
	cursor: pointer;
	filter: brightness(80%);
}

#__arcade_analog {
	position: absolute;
	width: 75px;
	transform: translate(180px, 190px);
	z-index: 2;
}

#__arcade_analog:hover {
	cursor: grab;
}

#__arcade_analog:active {
	cursor: grabbing;
}


#__arcade_gamelogo {
	position: absolute;
	transform: translate(300px, 0);
	width: 450px;
	opacity: 0;
	z-index: 1;
	
	animation: 1.8s ease-out forwards arcadeLogo_fadeIn;
}

@keyframes arcadeLogo_fadeIn {
	from {
		opacity: 0;
		transform: translate(550px, -50px);
	}
	
	to {
		opacity: 1;
		transform: translate(600px, -50px);
	}
}

#__arcade_gameinfo {
	position: absolute;
	transform: translate(300px, 0);
	width: 450px;
	opacity: 0;
	z-index: 1;
	
	animation: 2s ease-out forwards arcadeInfo_fadeIn;
}

@keyframes arcadeInfo_fadeIn {
	from {
		opacity: 0;
		transform: translate(550px, 220px);
	}
	
	to {
		opacity: 1;
		transform: translate(600px, 220px);
	}
}

#__arcade_banner {
	border: 10px inset #0d0727;
	width: 100%;
    height: 100%;
    background-size: auto;
	filter: blur(0.8px);
	background: radial-gradient(circle, rgba(0,31,73,1) 0%, rgba(0,0,0,1) 47%);
}

#__arcade_div_banner {
	width: 1500px;
	height: 350px;
	overflow: hidden;
}