#__inner_header {
	max-width: 1600px;
	min-width: 800px;
	width: 1600px;
	height: 100%;
	display: block;
	margin: 0 auto;
}

#__nav {
	float: center;
	margin-left: auto;
	margin-right: auto;
	display: table;
	width: 150px;
	height: 100%;
}

#__nav li {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	padding-right: 25px;
	padding-left: 25px;
	font-size: 20px;
	transition: 0.1s ease-out;
}

#__nav li:hover {
	color: yellow;
	cursor: pointer;
	text-decoration: underline;
	font-size: 22px;
}