.sliding-background {
	position:fixed;
	overflow: hidden;
	height: 5000px;
	width: 5000px;
	animation: slide 60s linear infinite;
} 

#bar {
	height:10px;
	width:50%;
	position: relative;
	margin: 0 auto;
	box-shadow: 0px 0px 10px black, 0px 0px 10px black;
	content: url("resources/images/separation_bar.png");
}

#logo {
	content: url("resources/images/logos/normal_group.png");
}

#__footer {
	text-shadow: 0px 2px 0px black, 0px 0px 8px black;
}