* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	color: white;
	font-family: 'Arima Madurai', sans-serif;
}

*:hover {
	cursor: default;
}

body {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex-direction: column;
}